.content {
  /*background: dimgrey;*/
  height: 100vh;
  z-index: 1;
}

.color {
  position: absolute;
  background: black;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}

.top-button {
  display: flex;
  justify-content: space-between;
  padding: 3em 0.5em;
}

.back,
.next {
  padding: 5px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  width: 10%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 200;
  font-size: 18px;
  z-index: 3;
}

.right-arrow,
.left-arrow {
  width: 20px;
  padding: 5%;
}

.image-poster {
  z-index: 3;
}

.info {
  width: 65%;
  z-index: 3;
  /*display: flex;*/
  /*flex-direction: column;*/
}

#poster {
  box-shadow: 0 0 60px rgb(0, 0, 0);
}

.about-movie {
  display: flex;
  justify-content: space-evenly;
  z-index: 3;

}

.add-favorite {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: none;
  padding: 8px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border: 1px solid white
}

h1 {
  color: white;
  padding: 10px 0;
  font-weight: 500;
  font-size: 50px;
  margin-top: 1em;
}

h3 {
  color: white;
  font-size: 30px;
}

.text-info {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr;
}


.adult {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 2em;
}

.release-data {
  padding-left: 2em;
}

.overview {
  margin-top: 4em;
  padding: 2em 0;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.background {
  height: 100%;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
}

#background-image {

  position: absolute;
  width: 104%;
  filter: blur(10px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}
