<div class="content">

  <div class="background">
    <img id="background-image" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}">
  </div>

  <div class="color"> </div>

  <app-toolbar></app-toolbar>

    <div class="top-button">

      <button class="back-to-list" (click)="goBack()">
        <img class="left-arrow" src="../../../assets/baseline_keyboard_arrow_left_white_18dp.png">
        Back <span> to list</span>
      </button>

       <button class="next-movie" routerLinkActive="active" (click)="getNextMovie(movie.id)">
        Next <span> Movie</span>
        <img class="right-arrow" src="../../../assets/baseline_keyboard_arrow_right_white_18dp.png">
      </button>

    </div>

    <div class="about-movie">

      <div class="image-poster">
        <img id="poster" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}" alt="Movie poster.">
      </div>


        <div class="add-favorite">
          <button class="btn" (click)="toggleEvent()">
            <p class="btn-fav"> {{addMovieToFavorite ? 'Unvaforite' : 'Add to favorite'}} </p>
            <div class="img-fav">
              <div *ngIf="addMovieToFavorite; else elseBlock">
                <img id="star-add" src="../../../assets/baseline_star_white_18dp.png">
              </div>
            <ng-template #elseBlock>
              <img id="star-remove" src="../../../assets/baseline_star_border_white_18dp.png">
            </ng-template>
           </div>
          </button>
        </div>

        <div class="title">
          <h1>{{movie.title}}</h1>
        </div>

        <div class="text-info">
          <div class="vote-average">
            <h3> Score: {{movie.vote_average}} </h3>
          </div>

          <div class="adult">
            <h3> Rating: {{movie.adult ? 'R' : 'PG'}}  </h3>
          </div>

          <div class="release-data">
            <h3> Release Date: {{movie.release_date}} </h3>
          </div>
        </div>

        <div class="overview">
          <p class="description"> {{movie.overview}} </p>
        </div>

    </div>

</div>



