<div class="toolbar">
  <div class="logo">
    <div class="deathstar">
    <img src="../../../assets/Death-Star-SWCT.png" id="death-star">
    </div>
    <div class="movies-logo">
      <span>Movies</span>
    </div>
  </div>

  <div class="menu">
    <!--<select>-->
    <!--<option>My Account</option>-->
    <!--<option>My Favorite</option>-->
    <!--</select>-->
    <button mat-button [matMenuTriggerFor]="menu" class="menu-content" routerLink="/list" routerLinkActive="active-link">
      <p>My Account</p>
      <img src="../../assets/baseline_keyboard_arrow_down_white_18dp.png" id="arrow-down">
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item  routerLink="/favorite" routerLinkActive="active-link">My Favorite</button>
    </mat-menu>
  </div>
</div>
