.toolbar {
  background: #494e59;
  color: white;
  height: 4em;
  display: flex;
  justify-content: space-between;
}

#death-star {
  width: 50px;
  margin-right: 10px;
}

.logo,
.menu {
  display: flex;
  align-items: center;
  margin: 0 1.5em;
}

#arrow-down {
  width: 20px;
}

span {
  font-family: Arial Narrow, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

/* select */

.menu-content{
  background: none;
  border: none;
  padding: 9px 10px;
  box-shadow: 0 0 1px rgb(255, 255, 255);
  border-radius: 3px;
  font-size: 20px;
  font-weight: 100;
  color: white;
  display: flex;
}

@media screen and (max-width: 850px) {
  p {
    display: none;
  }
}

@media screen and (max-width: 525px) {
  .toolbar {
    height: 3em;
  }
  #death-star {
    width: 35px;
    margin-right: 8px;
  }
  span {
    font-size: 20px;
  }
  .menu-content {
    padding: 6px 6px;
  }
}

