.content {
  /*background: dimgrey;*/
  /* height: 100vh; */
  z-index: 1;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
}

.color {
  position: absolute;
  background: black;
  opacity: 0.2;
  /* height: 100%; */
  width: 100%;
  overflow: hidden;
  top: 4em;
  bottom: 0;
  left: 0;
}

.top-button {
  display: flex;
  justify-content: space-between;
  padding: 4% 1%;
}

.back-to-list,
.next-movie {
  padding: 5px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  width: 8%;
  justify-content: space-between;
  color: white;
  font-weight: 200;
  font-size: 18px;
  z-index: 3;
  cursor: pointer;
}

.right-arrow,
.left-arrow {
  width: 20px;
  padding: 5%;
}

.about-movie {
  width: 90%;
  padding-left: 5%;
  z-index: 4;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 20% 20% 50%;
  color: white;
}

.add-favorite {
  z-index: 4;
  display: flex;
  justify-content: flex-end;
}

.img-fav {
  display: none;
}

.btn {
  background: none;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  width: 14%;
  height: 40px;
  cursor: pointer;
}


.image-poster {
  z-index: 3;
  grid-area: 1/1/5/2;
}

.title,
.text-info,
.overview {
  z-index: 4;
  color: white;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 60px;
  padding: 3% 0;
}

.text-info {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr;
}


#poster {
  box-shadow: 0 0 60px rgb(0, 0, 0);
}


h3 {
  color: white;
  font-size: 40px;
}

.description {
  font-size: 25px;
}

.adult {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 10%;
}

.release-data {
  padding-left: 10%;
}

.overview {
  margin-top: 4%;
  padding: 3% 0;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.background {
  /* height: 100%; */
  background-position: center;
  overflow: hidden;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 4em;
  bottom: 0;
  left: 0;
}

#background-image {
  position: absolute;
  width: 104%;
  filter: blur(10px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media screen and (max-width: 1366px) {
  span {
    display: none;
  }
  .vote-average {
    padding-right: 40%;
  }
  .adult {
    padding: 0 25%;
  }
  .description {
    font-size: 23px;
  }
  .release-data {
    padding-left: 20%;
  }
}

@media screen and (max-width: 1080px) {
  #poster {
    width: 300px;
    border-radius: 10px;
  }
  .back-to-list,
  .next-movie {
    width: 10%;
  }
  .btn {
    width: auto;
    padding: 2%;
    height: min-content;
  }
  .about-movie {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 20% 20% 50%;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  h3 {
    font-size: 28px;
  }

}

@media screen and (max-width: 850px) {
  .back-to-list,
  .next-movie {
    width: 10%;
}
  .btn-fav {
    display: none;
  }
  .img-fav {
    display: inline-flex;
  }
  .about-movie {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    grid-template-rows: 60% 20% 20%;
  }
  .image-poster{
    grid-area: 1/1/2/2;
  }
  .add-favorite {
    grid-area: 1/3/2/4;
  }
  .text-info {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .title {
    grid-area: 2/1/3/4;
  }
  .overview {
    grid-area: 3/1/4/4;
    margin-top: -2%;
  }
  .release-data,
  .adult,
  .vote-average {
    padding: 0;
    border: none;
  }
  h3 {
    font-size: 35px;
  }
  .description {
    font-size: 24px;
  }
}

@media screen and (max-width: 525px) {
  .color,
  .background {
    top: 3em;
  }
  .top-button {
    margin: 0 3%;
  }
  .next-movie {
    margin-right: 2%;
  }
  #poster {
    width: 240px;
  }
  .about-movie {
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: 60% 20% 20%;
  }
  .text-info {
    padding-left: 7%;
  }
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 28px;
  }
  .description {
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  #poster {
    width: 180px;
  }
  .btn {
    height: 40px;
  }
}

@media screen and (max-width: 411px) {
  .top-button {
    margin-right: 9%;
  }
  #star-add,
  #star-remove {
    width: 30px;
    height: 30px;
  }
  .btn {
    height: 35px;
  }
}

@media screen and (max-width: 375px) {
  #poster {
    width: 160px;
  }
  h3 {
    font-size: 21px;
  }
}

@media screen and (max-width: 320px) {

  .back-to-list,
  .next-movie {
    font-size: 15px;
  }
  .btn {
    height: 30px;
  }
  #star-remove {
    width: 25px;
    height: 25px;
  }
  #poster {
    width: 140px;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
}
