.content {
  background: #eaecef;
  height: 100%;
}

.wrapper {
  /*background: #eaecef;*/
  font-size: 24px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: #494e59;
}

.favorite {
  font-size: 26px;
  color: #98949d;
  padding: 2% 0 0px 20%;
}

#favorite-movie {
  display: grid;
  grid-template-columns: 20% 25% 35% 20%;
  padding: 2% 0;
}

#fist-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

#movie-title {
  font-size: 26px;
  font-weight: 600;
}

button {
  font-size: 24px;
  padding: 3%;
  background-color: #eaecef;
  border: 1px solid;
  border-radius: 5px;
  color: #494e59;
}
