
/*  */

.bla-bla {
  padding: 2em 0 1em 1em;
  color: #a0a3ab;
  font-family: Arial Narrow, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.movies-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#poster {
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

@media screen and (max-width: 575px) {
  #poster {
    width: 240px;
  }
}

@media screen and (max-width: 414px) {
  #poster {
    width: 160px;
  }
}

@media screen and (max-width: 330px) {
  #poster {
    width: 140px;
  }
}

/* */
/*.pagination {*/
  /*border-color: #494e59;*/
  /*background-color: #a0a3ab;*/
  /*border-radius: 5px;*/
  /*font-family: 'Poppins';*/
  /*margin: 0;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
/*}*/

/*a:hover {*/
  /*cursor: pointer;*/
/*}*/

/*ul {*/
  /*list-style: none;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*display: flex;*/
/*}*/

/*li {*/
  /*color: #fff;*/
  /*display: flex;*/
/*}*/

/*a {*/
  /*background-color: #444B6E;*/
  /*padding: 5px 10px;*/
  /*border: 2px solid #494e59;*/
  /*border-right: 0;*/
/*}*/


