
/*  */

.bla-bla {
  padding: 2em 0 1em 1em;
  color: #a0a3ab;
  font-family: Arial Narrow, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

#picture {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

div#picture:hover figure:not(:hover) {
	opacity: 0.4;
}

#poster {
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.pager {
  text-align: center;
}

@media screen and (max-width: 1366px) {
  #poster {
    width: 280px;
  }
}

@media screen and (max-width: 575px) {
  #poster {
    width: 240px;
  }
}

@media screen and (max-width: 414px) {
  #poster {
    width: 160px;
  }
}

@media screen and (max-width: 330px) {
  #poster {
    width: 140px;
  }
}


