<div class="toolbar">
  <div class="logo" routerLink="/list" routerLinkActive="active">
    <div class="deathstar">
    <img src="../../assets/Death-Star-SWCT.png" id="death-star">
    </div>
    <div class="movies-logo">
      <span>Movies</span>
    </div>
  </div>

  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-content">
      <p>My Account</p>
      <img src="../../assets/baseline_keyboard_arrow_down_white_18dp.png" id="arrow-down">
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item  routerLink="/favorite" routerLinkActive="active">My Favorite</button>
    </mat-menu>
  </div>
</div>
